# Server Configuration
PORT=5000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=internhub
DB_USER=postgres
DB_PASSWORD=minaa@1835

# JWT Configuration
JWT_SECRET=63ff03fa20c2bed2baf9cb76195cc957e996f47d2170002fa8e806eb04f428adef9aeb77e8f29a8905aecd71ff9587d10bcc7825c3d87ede0b38b70234387b0b
JWT_EXPIRES_IN=7d

# File Upload
MAX_FILE_SIZE=2097152
UPLOAD_DIR=uploads
